<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/main}"
>
<head>
    <title>Update Region</title>
</head>
<body>
    <div class="container mt-5" layout:fragment="content">
        <h1 class="fw-bold">Update Region</h1>
        <form th:action="@{/region/update/{id}(id=${region.id})}" method="post" th:object="${region}">
            <input type="hidden" name="_method" value="PUT"/>
            <div class="mb-3">
                <label for="regionName" class="form-label">Name</label>
                <input type="text" class="form-control" id="regionName" th:field="*{name}" required />
            </div>
            <button type="submit" class="btn btn-success">Update</button>
            <a href="/region" class="btn btn-secondary">Back</a>
        </form>
    </div>
</body>
</html>