<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/main}"
>
<head>
    <title>Create Country</title>
</head>
<body>
    <!-- Content -->
    <section class="container mt-5" layout:fragment="content">
        <div class="card">
            <h5 class="card-header text-center fw-bold">Create Country</h5>
            <div class="card-body">
                <form th:action="@{/country/auto}" method="post">
                    <div class="mb-3">
                        <label for="countryCode" class="form-label fw-bold">Code</label>
                        <input
                            type="text"
                            class="form-control"
                            id="countryCode"
                            name="code"
                            placeholder="Enter country code"
                            required
                        />
                    </div>
                    <div class="mb-3">
                        <label for="countryName" class="form-label fw-bold">Name</label>
                        <input
                            type="text"
                            class="form-control"
                            id="countryName"
                            name="name"
                            placeholder="Enter country name"
                            required
                        />
                    </div>
                    <div class="mb-3">
                        <label for="countryRegion" class="form-label fw-bold">Region (Id)</label>
                        <select
                            class="form-select"
                            id="countryRegion"
                            name="regionId"
                            required
                        >
                            <option value="">Select a region (Id)</option>
                            <option th:each="region : ${regions}" 
                                    th:value="${region.id}" 
                                    th:text="${region.name} + ' (ID: ' + ${region.id} + ')'" 
                            ></option>
                        </select>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-success fw-bold me-2">
                            Submit
                        </button>
                        <a href="/country" class="btn btn-secondary fw-bold">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </section>  
</body>
</html>