<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/main}"
>
<head>
    <title>Update Country</title>
</head>
<body>
    <div class="container mt-5" layout:fragment="content">
        <h1 class="fw-bold">Update Country</h1>
        <form th:action="@{/country/update/{id}(id=${country.id})}" method="post" th:object="${country}">
            <!-- Hidden input untuk metode PUT -->
            <input type="hidden" name="_method" value="PUT" />
            
            <div class="mb-3">
                <label for="countryName" class="form-label">Country Name</label>
                <input type="text" class="form-control" id="countryName" th:field="*{name}" required />
            </div>
            <div class="mb-3">
                <label for="countryCode" class="form-label">Country Code</label>
                <input type="text" class="form-control" id="countryCode" th:field="*{code}" required />
            </div>
            <div class="mb-3">
                        <label for="countryRegion" class="form-label fw-bold">Region (Id)</label>
                        <select
                            class="form-select"
                            id="countryRegion"
                            th:field="*{region.id}" 
                            required
                        >
                            <option value="">Select a region (Id)</option>
                            <option th:each="region : ${regions}" 
                                    th:value="${region.id}" 
                                    th:text="${region.name} + ' (ID: ' + ${region.id} + ')'" 
                            ></option>
                        </select>
                    </div>
            <div class="text-end">
                <button type="submit" class="btn btn-success">Update</button>
                <a href="/country" class="btn btn-secondary">Back</a>
            </div>
        </form>
    </div>
</body>
</html>